<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head")%>
        <link rel="stylesheet" href="/css/listadoDeProductos.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/084c494fb3.js" crossorigin="anonymous"></script>
    </head>
<body>

    <%- include("../partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main> 
    <h2 style="padding-top:30px">RESULTADOS ENCONTRADOS</h2>
        <section class="cards1"> 
            <% products.filter(product => product.category != "Perfumes").forEach(product => { %>
                <article id="article">
                    <ul>
                      <div>
                        <li class="imagen"><img class="imag" src="/img/catalogo/<%= product.image %>" width="260px"></li>
                      </div>
                      <div>
                        <li class="productoNombre"><p><%= product.name %></p></li> 
                        <li class= "productoAroma"><p><%= "Aroma: " + product['productFragance.fragance'] %></p></li>
                        <li class= "productoTamanio"><p><%= "Tamaño: " + product['productSize.size'] %></p></li>
                      </div>
                      <div class="precioYDescuento">
                        <h2 class="precio"><%= "$" + product.price %> </h2>
                        <p class="descuento"> <%= product['productDiscount.discount'] + "% OFF"%></p>
                      </div>
                        <div class="cajaChica"> 
                            <div id="detalles" class="detalles"><p> <a href="products/<%= product.id %>" style="color: white">Más Detalles </a></p></div>
                            <div class="comprar"  onclick="window.open('newurl.html','mywindow');"><i id="carrito" class="fa fa-shopping-cart" aria-hidden="true"></i><p>Comprar</p></div> 
                        </div>
                    </ul>
                </article>
            <% }) %> 
        </section>
    </main>
    
    <%- include("../partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>