<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head")%>
        <link rel="stylesheet" href="/css/detalleDeProducto.css">
    </head>
<body>

    <%- include("../partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main>
    <div class="desktop">
        <% if(locals.adminLogin){ %>
            <button><a href="/products/edit/<%= product.id %>">Editar Producto</a> </button>
            <form
                action="/products/<%= product.id %>?_method=DELETE"
                method="POST"
              >
            <button>Eliminar Producto</button>
        </form>
        <% } %>  
        <div class="product">
            <i class="fa-solid fa-chevron-left flecha"></i>
            <img src="/img/" class="main-image">
            <i class="fa-solid fa-chevron-right flecha"></i>
        </div>
        <div class="position">

        <h1><%= product.name %></h1>
        <div class="review">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="buttons">3.2</p>    
                <p class="review-font">5 Reseñas</p>     
                <p class="review-font">Escribir Reseña</p>
        </div>
       
        <div class="product-description">
              <h2><%= product.price %></h2>
              <p><%= product.description %></p>
        </div>
        <div class="product-details">
              <button class="qty-button">- 1 +</button>
              <button class="add-to-cart-button">Agregar al carrito</button>
              <i class="fa-regular fa-heart corazon"></i>
        </div>
    </div>
    </div>
        <div class="linea-divisora">
            <!-- aca va la linea divisora-->
        </div>
        <div>
            <h3>USAR CON</h3>
            <article>
                <div class="add-also">
                  <div>
                      <img src="/img/cera-int-uva.jpg" class="add-also-images">
                      <button class="add-also-button" >Agregar al carrito</button>
                  </div>
                  <div class="add-also-details">
                      <h4>Grape wax</h4>
                      <h4>$ 2000</h4>
                      <p>Cera de interior con olor a uva. Apta para plásticos y cueros. No se puede utilizar en tela.</p>
                  </div>
                      <i class="fa-regular fa-heart"></i>
                </div>     
            </article>
            <article>
                <div class="add-also">
                  <div>
                      <img src="/img/bug-remover.jpeg" class="add-also-images">
                      <button class="add-also-button" >Agregar al carrito</button>
                  </div>
                  <div class="add-also-details">
                      <h4>Bug remover Leca</h4>
                      <h4>$ 3500</h4>
                      <p>Productos especial para sacar bichos de la carrocería de tu vehículo sin dañar la laca ni tratamiento de pintura. 
                    </p>
                  </div>
                      <i class="fa-regular fa-heart"></i>
                </div>    
            </article>
        </div>
        <div class="linea-divisora">
            <!-- aca va una linea divisora-->
        </div>
            <h3>RESEÑAS</h3>
            <div class="reviews">
                <div>
                    <div class="review-punctuation">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="buttons">5.0</p> 
                    </div>
                    <p class="review-detail"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, error similique. Animi dignissimos dolorem sit doloribus aspernatur accusantium inventore veritatis alias, amet, adipisci quasi sunt quas voluptatem beatae, nostrum deserunt?</p>
                </div>
                <div class="review-arrow">
                <i class="fa-solid fa-chevron-right flecha"></i>
                </div>
            </div>
            <div class="reviews more-reviews">
                <div>
                    <div class="review-punctuation">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <p class="buttons">2.0</p> 
                    </div>
                    <p class="review-detail"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, error similique. Animi dignissimos dolorem sit doloribus aspernatur accusantium inventore veritatis alias, amet, adipisci quasi sunt quas voluptatem beatae, nostrum deserunt?</p>
                </div>
            </div>
    </main>
    
    <%- include("../partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>