<!DOCTYPE html>
<html lang="es">
  <head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/index.css">
  
  </head>
  <body>
  <%- include("./partials/header")%> <!-- Se importa el header desde los archivos parciales --> 
    <main>
      <section class="index-banner">
        <div class="banner">
         </div>
      </section>
     
      <h1>PRODUCTOS</h1>
      <section class="products-section">
      <h2 class="products">NUEVOS PRODUCTOS</h2>
      <section class="cards1"> 
        <% products.filter(product => product.idType == 1).forEach(product => { %>
        <article id="article">
            <ul>
                <li class="imagen"><img class="imag" src="/img/catalogo/<%= product.image %>" width="260px"></li>
                <li class="productoNombre"><p><%= product.name %></p></li> 
                <h2><%= product.price %></h2>
                <div class="cajaChica"> 
                    <div id="detalles" class="detalles"><p>+ <a href="products/<%= product.id %>"> Detalles </a></p></div>
                    <div class="comprar"  onclick="window.open('newurl.html','mywindow');"><i id="carrito" class="fa fa-shopping-cart" aria-hidden="true"></i><p>Comprar</p></div> 
                </div>
                <li id="txt" class="texto"><%= product.description %></li> 
            </ul>
        </article>
        <% }) %> 
    </section>

    <h2 class="products">OFERTAS</h2>
      <section class="cards1"> 
        <% products.filter(product => product.idType == 2).forEach(product => { %>
        <article id="article">
            <ul>
                <li class="imagen"><img class="imag" src="/img/catalogo/<%= product.image %>" width="260px"></li>
                <li class="productoNombre"><p><%= product.name %></p></li> 
                <h2><%= product.price %></h2>
                <div class="cajaChica"> 
                    <div id="detalles" class="detalles"><p>+ <a href="products/<%= product.id %>"> Detalles </a></p></div>
                    <div class="comprar"  onclick="window.open('newurl.html','mywindow');"><i id="carrito" class="fa fa-shopping-cart" aria-hidden="true"></i><p>Comprar</p></div> 
                </div>
                <li id="txt" class="texto"><%= product.description %></li> 
            </ul>
        </article>
        <% }) %> 
    </section>

    <h2 class="products">MÁS VENDIDOS</h2>
      <section class="cards1"> 
        <% products.filter(product => product.idType == 3).forEach(product => { %>
        <article id="article">
            <ul>
                <li class="imagen"><img class="imag" src="/img/catalogo/<%= product.image %>" width="260px"></li>
                <li class="productoNombre"><p><%= product.name %></p></li> 
                <h2><%= product.price %></h2>
                <div class="cajaChica"> 
                    <div id="detalles" class="detalles"><p>+ <a href="products/<%= product.id %>"> Detalles </a></p></div>
                    <div class="comprar"  onclick="window.open('newurl.html','mywindow');"><i id="carrito" class="fa fa-shopping-cart" aria-hidden="true"></i><p>Comprar</p></div> 
                </div>
                <li id="txt" class="texto"><%= product.description %></li> 
            </ul>
        </article>
        <% }) %> 
    </section>
  </section>
      
    </main>

    <%- include("./partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

  </body>
</html>