<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head")%>
        <link rel="stylesheet" href="/css/perfil.css">
    </head>
<body>

    <%- include("../partials/header")%> <!-- Se importa el header desde los archivos parciales -->

    <main>
        <div class="perfilOFT">
            <div class="contenedorDatos">
                <div class="datosOFT">
                    <div>
                        <h2><i class="fa-solid fa-car"></i><br>¡Bienvenidx a tu garage, <%= user.firstName %>!</h2>
                    </div>
                    <div class="imgDatos">
                        <img class="imgUsuario" src="/img/users/<%= user.profilePic %> ">
                        <div class="datos" >
                            <div class="contenedorTexto">
                                <div class="nombresOFT">
                                    <h3>Nombre: <%= " " + user.firstName %> <%= user.lastName %></h3>
                                    <h3>Usuario:<%= " " + user.username %></h3>
                                    <h3>Email:<%= " " + user.email %></h3>
                                </div>
                            </div>
                            <div class="contenedorExtra">
                                <button class="botonEdit"><a href="/users/edit">Editar perfil</a></button> 
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    
    <%- include("../partials/footer")%> <!-- Se importa el footer desde los archivos parciales -->

</body>
</html>